<style type="text/css">
    .form-control:focus {
        border-color: #dfe0e1;
        box-shadow: 0 0 0 0.33rem rgb(245 255 222);
    }
    html,body {
        height: 100%;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .content {
        flex: 1 0 auto;
    }
    .footer {
        flex: 0 0 auto;
    }
</style>
<div class="col footer mt-4 p-2 d-flex flex-row-reverse" style="background-color: #f0ffce !important; font-size: 9pt;">
    2024, django ups
</div>
